
//
// Font - Mercury
//

@font-face {
  font-family: 'Mercury Light';
  /* Safari, Android, iOS */
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url("/assets/fonts/Mercury Light-Regular.otf");
}

@font-face {
  font-family: 'Mercury Light Italic';
  /* Safari, Android, iOS */
  font-weight: 300;
  font-style: italic;
  font-display: swap;
  src: url("/assets/fonts/Mercury Light-Italic.otf");
}

@font-face {
  font-family: 'Mercury Regular Regular';
  /* Safari, Android, iOS */
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url("/assets/fonts/Mercury Regular-Regular.otf");
}

@font-face {
  font-family: 'Mercury Regular Italic';
  /* Safari, Android, iOS */
  font-weight: 300;
  font-style: italic;
  font-display: swap;
  src: url("/assets/fonts/Mercury Regular-Italic.otf");
}

@font-face {
  font-family: 'Mercury Medium Regular';
  /* Safari, Android, iOS */
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url("/assets/fonts/Mercury Medium-Regular.otf");
}

@font-face {
  font-family: 'Mercury Medium Italic';
  /* Safari, Android, iOS */
  font-weight: 300;
  font-style: italic;
  font-display: swap;
  src: url("/assets/fonts/Mercury Medium-Italic.otf");
}

@font-face {
  font-family: 'Mercury Bold Regular';
  /* Safari, Android, iOS */
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url("/assets/fonts/Mercury Bold-Regular.otf");
}

@font-face {
  font-family: 'Mercury Bold Italic';
  /* Safari, Android, iOS */
  font-weight: 300;
  font-style: italic;
  font-display: swap;
  src: url("/assets/fonts/Mercury Bold-Italic.otf");
}
